:root {
  --bg: rgb(250, 250, 250);
  --subtlegray: rgb(238, 238, 238);
  --lightergray: rgb(245, 245, 245);
  --subtleblack: rgb(29, 29, 29);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  color: var(--subtleblack);
}

h1 {
  margin-left: 10px;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 2px solid var(--subtlegray);
  text-align: left;
  align-items: center;
}

.dashboard {
  font-weight: 600;
  color: rgb(65, 114, 204);
}

.navigation {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--subtleblack);
}

#assignments, #misc {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

#assignments:hover, #misc:hover {
  background-color: var(--lightergray);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.settings-icon {
  margin-top: auto;
  /* margin-left: 15px; */
  cursor: pointer;
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  padding: 20px;
  border-bottom: 2px solid var(--subtlegray);
}

main {
  background-color: var(--bg);
  flex: 1;
  padding: 10px;
}

.top-row {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 25px;
}

#seconds {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-grid {
  /* background-color: brown; */
  padding: 10px;
  padding-bottom: 1px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.countdown-block {
  background-color: var(--subtlegray);
  padding: 15px;
  border-radius: 10px;
  max-width: 800px;
  transition: transform 0.15s ease;
}

.countdown-block:hover {
  transform: scale(1.005);
}

.time-content {
  /* background-color: brown; */
  display: flex;
  gap: 20px;
}

.timebox {
  background-color: var(--lightergray);
  padding: 10px;
  display: flex;
  gap: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.actionbox {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title, .title input {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--subtleblack);
  border: none;
  outline: none;
  margin: 0px;
  padding: 0px;
}

.title input {
  background-color: rgb(228, 228, 228);
}

input {
  background-color: var(--subtlegray);
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.add-button, .delete-button, .export-button {
  color: var(--subtleblack);
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.add-button:hover, .delete-button:hover, .export-button:hover {
  transform: scale(1.08);
}

.add-button, .export-button {
  background-color: lightgreen;
  margin-right: 10px;
  width: 80px;
  height: 30px;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}

.delete-button {
  background-color: lightcoral;
  width: 60px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  padding: 1px;
}

#export-box {
  margin-top: 20px;
  margin-left: 10px;
  max-width: 500px;
}

@property --fill {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
@keyframes spin {
  from {
    --fill: 0%;
  }
  to {
    --fill: 100%;
  };
}
.clock {
  height: 50px;
  width: 50px;
  background: conic-gradient(green var(--fill), transparent var(--fill));
  border-radius: 50%;
  text-align: center;
  animation-name: spin;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-inner {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4px;
  margin-bottom: 0.4px;
}